.App {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.leftpanel {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  background-color: black;
  color: white;
  z-index: 2;
}

.app-heading {
  font-size: 5rem;
  width: 70vw;
  max-height: 60vh;
  margin-left: 2rem;
  margin-top: 5rem;
}

.app-text {
  margin-top: 3rem;
  margin-left: 2rem;
  width: 25vw;
  height: 40vh;
  font-size: 2rem;
}

.rightpanel {
  min-width: 70vw;
  min-height: 100vh;
  background-image: url('../public/app-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vh;
  margin-top: 80vh;
  margin-left: 2rem;
  font-size: 1.5rem;
  color: white;
}

.links > a {
  color: white;
  margin-left: 4rem;
}


@media only screen and (max-width: 380px) {
  .leftpanel {
    width: 25vw;
    height: 100vh;
  }

  .rightpanel {
    min-width: 75vw;
    min-height: 100vh;
    background-image: url('../public/app-background-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .app-heading {
    font-size: 2.25rem;
    margin-left: 1rem;
    margin-top: 3rem;
    width: 80vw;
    max-height: 30vh;
  }
  
  .app-text {
    margin-left: 1rem;
    width: 50vw;
    font-size: 1.25rem;
  }

  .links {
    z-index: 3;
    width: 100vh;
    margin-top: 80vh;
    margin-left: -.5rem;
    font-size: .8rem;
  }

  .links > a {
    margin-left: 1rem;
  }
}


@media only screen and (max-width: 500px) {
  .rightpanel {
    min-width: 70vw;
    min-height: 100vh;
    background-image: url('../public/app-background-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .app-heading {
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-top: 3rem;
  }
  
  .app-text {
    margin-top: 2rem;
    margin-left: 3rem;
    width: 45vw;
    font-size: 1.25rem;
  }

  .links {
    z-index: 3;
    width: 100vh;
    margin-top: 80vh;
    margin-left: -1rem;
    font-size: 1rem;
  }

  .links > a {
    margin-left: 1rem;
  }
}


@media only screen and (min-width: 800px) {
  .app-heading {
    font-size: 4rem;
    margin-left: 2rem;
    margin-top: 6rem;
  }
  
  .app-text {
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 1.75rem;
  }
}


@media only screen and (min-width: 1700px) {
  .app-heading {
    font-size: 6rem;
    margin-left: 3rem;
    margin-top: 6rem;
  }
  
  .app-text {
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 2.75rem;
  }

  .links {
    width: 100vh;
    margin-top: 80vh;
    margin-left: 5rem;
    font-size: 2rem;
  }

  .links > a {
    margin-left: 4rem;
  }
}


@media only screen and (min-width: 1900px) {
  .app-heading {
    font-size: 6.5rem;
    margin-left: 3rem;
    margin-top: 6rem;
  }
  
  .app-text {
    margin-top: 3.5rem;
    margin-left: 4rem;
    font-size: 3rem;
  }

  .links {
    width: 100vh;
    margin-top: 80vh;
    margin-left: 5rem;
    font-size: 2.5rem;
  }

  .links > a {
    margin-left: 4rem;
  }
}


@media only screen and (min-width: 2400px) {
  .app-heading {
    font-size: 7rem;
    margin-left: 3rem;
    margin-top: 7rem;
  }
  
  .app-text {
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 3rem;
  }

  .links {
    width: 100vh;
    margin-top: 80vh;
    margin-left: 5rem;
    font-size: 2.5rem;
  }

  .links > a {
    margin-left: 4rem;
  }
}

