.portfoliowrapper {
  background-image: url('../public/contact-background.jpg');
  min-height: 100vh;
}

.carousel {
  width: 55vw;
  margin-left: 10vw;
  margin-top: -5vh;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.portfolioheader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 12vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.portfolioheadertext {
font-size: 2.5rem;
margin-top: 1rem;
margin-left: 2rem;
}

.portfoliolinks {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-left: 7rem;
margin-top: 2rem;
}

.portfoliolinks > a {
font-size: 1.6rem;
color: white;
margin-left: 11rem;
}



@media only screen and (min-width: 2001px) {
  .carousel {
    width: 60vw;
    margin-left: 9vw;
    margin-top: 0vh;
  }

  .slidecaption {
    font-size: 2rem;
  }

  .portfolioheader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 12vh;
    width: 100vw;
    background-color: black;
    color: white;
  }
  
  .portfolioheadertext {
    margin-top: 2rem;
    margin-left: 4rem;
    font-size: 2.6rem;
  }
  
  .portfoliolinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 15rem;
    margin-top: 0rem;
  }
  
  .portfoliolinks > a {
    font-size: 1.9rem;
    margin-left: 4rem;
    color: white;
  }
}





@media only screen and (max-width: 2000px) {
  .carousel {
    width: 60vw;
    margin-left: 9vw;
    margin-top: 0vh;
  }

  .slidecaption {
    font-size: 2rem;
  }

  .portfolioheader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 16vh;
    width: 100vw;
    background-color: black;
    color: white;
  }
  
  .portfolioheadertext {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  
  .portfoliolinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5rem;
    margin-top: 1.5rem;
  }
  
  .portfoliolinks > a {
    font-size: 2rem;
    margin-left: 4rem;
    color: white;
  }
}





@media only screen and (max-width: 1600px) {
  .carousel {
    width: 65vw;
    margin-left: 9vw;
    margin-top: 0vh;
  }

  .slidecaption {
    font-size: 1.5rem;
  }

  .portfolioheader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 17vh;
    width: 100vw;
    background-color: black;
    color: white;
  }
  
  .portfolioheadertext {
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 2.2rem;
  }
  
  .portfoliolinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 15rem;
    margin-top: 0rem;
  }
  
  .portfoliolinks > a {
    font-size: 1.2rem;
    margin-left: 3rem;
    color: white;
  }
} 



@media only screen and (max-width: 500px) {
  .carousel {
    width: 100vw;
    margin-left: 0vw;
    margin-top: 4vh;
  }

  .slidecaption {
    font-size: 1rem;
  }

  .portfolioheader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 20vh;
    width: 100vw;
    background-color: black;
    color: white;
  }
  
  .portfolioheadertext {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  
  .portfoliolinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: .5rem;
    margin-top: 2rem;
  }
  
  .portfoliolinks > a {
    font-size: 1.2rem;
    color: white;
    margin-left: 2rem;
  }
} 



@media only screen and (max-width: 380px) {
  .carousel {
    width: 100vw;
    margin-left: 0vw;
    margin-top: 4vh;
  }

  .portfolioheader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 20vh;
    width: 100vw;
    background-color: black;
    color: white;
  }
  
  .portfolioheadertext {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  
  .portfoliolinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: .5rem;
    margin-top: 2rem;
  }
  
  .portfoliolinks > a {
    font-size: 1.1rem;
    color: white;
    margin-left: 1.6rem;
  }

  .slidecaption {
    font-size: 1rem;
  }
} 



@media only screen and (max-width: 350px) {
  .carousel {
    width: 100vw;
    margin-left: 0vw;
    margin-top: 4vh;
  }

  .portfolioheader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 20vh;
    width: 100vw;
    background-color: black;
    color: white;
  }
  
  .portfolioheadertext {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  
  .portfoliolinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: .25rem;
    margin-top: 1rem;
  }
  
  .portfoliolinks > a {
    font-size: .8rem;
    color: white;
    margin-left: 1.5rem;
  }
} 